@import '../../base.scss';

.admin-page{
  height: 100vh;
  display: flex;
}

.admin-menu{
  width: 10vw;
  height: 100vh;
  background-color: $contrast2;
}

.admin-menu-list{
  display: flex;
  flex-direction: column;

  color: $primary;
  .admin-menu-item{
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 25px;

    cursor: pointer;
    &:hover{
      background-color: darken($contrast2, 15);
    }
  }

}
