$color1: white;
$color2: rgb(242,242,242);
$color3: orange;
$color4: rgb(5,5,5);
$color5: rgb(52,52,52);


$page-padding: 200px;

.button-primary{
  margin: 30px;
  padding: 15px 45px;
  border: none;
  border-radius: 3px;
  background-color: $color3;

  font-size: 1.2rem;

  cursor: pointer;

  &:hover{
    color: $color1;
  }
}



@mixin breakpoint($point) {
  @if $point == desktop {
    @media (min-width: 70em) { @content ; }
 }
  @else if $point == laptop {
    @media (min-width: 64em) { @content ; }
 }
   @else if $point == tablet {
    @media (min-width: 50em) { @content ; }
 }
  @else if $point == phablet {
    @media (min-width: 37.5em)  { @content ; }
 }
 @else if $point == mobileonly {
    @media (max-width: 37.5em)  { @content ; }

 }
}
