.picture-heading{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  background-color: black;

}
.picture-heading-image{

}

.picture-heading-text{
  position: absolute;

  font-size: 6em;
  font-family: Oswald;
  font-weight: bold;
  color: white;
}
